<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <%= image_tag @profile.photo.url(:standard_face), class: "img-responsive bordered" %>
      <%= @profile.name %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h1>Your Published Offers</h1>
      <ul>
        <% @profile.offers.each do |offer| %>
        <li>
         <%= offer.title %>
         <%= link_to "see offer", offer_path(offer) %>
       </li>
       <% end %>
     </ul>
   </div>
   </div>
 <div class="row">
  <div class="col-md-10 col-md-offset-1 text-center">
    <h1>Your classes:</h1>
  </div>
  <div class="col-md-4 col-md-offset-2">
    <h3>You host:</h3>
    <ul>
      <li>
        <% @profile.offers.each do |offer| %>
        <p><%= offer.title %></p>
        <ul>
         <% offer.bookings.each do |booking| %>
         <li>
           <p> Date:<%= booking.date %>, with <%=  booking.user.name %></p>
         </li>
         <% end %>
       </ul>
       <% end %>
     </li>
   </ul>
 </div>
 <div class="col-md-4 col-md-offset-1">
  <h3>You attend:</h3>
  <ul>
    <% @profile.bookings.each do |booking| %>
    <li>
      <p>Title: <%= booking.offer.title %></p>
      <p>Organizer: <%= booking.offer.user.name %></p>
    </li>
    <% end %>
  </ul>
  </div>
</div>
</div>
