<% @upcoming_bookings = @all_bookings.select { |booking| booking.date > Date.today} %>
<% @todays_bookings = @all_bookings.select { |booking| booking.date == Date.today} %>
<% @past_bookings = @all_bookings.select { |booking| booking.date < Date.today} %>

<% bookingcard = lambda do |bookings, classes| %>
  <% bookings.each do |booking| %>
  <div class="booking-card <%= classes %>">
    <div class="booking-content">
    <% if booking.user == current_user %>
    <div class="booking-user">
      <%= image_tag booking.offer.user.photo.url(:bright_face), class: "img-responsive avatar-large" %>
    </div>
    <div class="booking-title">
      <b>Learning</b> with <%=  booking.offer.user.name %></p>
    </div>
    <% else  %>
    <div class="booking-user">
      <%= image_tag booking.user.photo.url(:bright_face), class: "img-responsive avatar-large" %>
    </div>
    <div class="booking-title">
      <b>Teaching</b> <%=  booking.user.name %></p>
    </div>
    <% end %>
    <div class="booking-content">
      <h3> #<%= booking.offer.category %>: <%= booking.offer.title %></h3>
      <p> <%= booking.date %> </p>
    </div>
  </div>
  </div>
  <% end %>
<% end %>

<div class="container">
  <div class="row is-table-row">
    <div class="col-md-5 background-white-full">
      <div class="profile-card margin-top-md">
        <%= image_tag @profile.photo.url(:standard_face), class: "img-responsive profile-card-img bordered" %>
        <div class="profile-card-name"><%= @profile.name.capitalize %></div>
      </div>
      <h1 class="margin-top-md">Your Published Offers</h1>
      <% if @profile.offers.empty? %>
      <div class="page-header-colorless">
        <h4><i class="fa fa-frown-o" aria-hidden="true"></i> You did not publish any offers yet!</h4>
        <%= link_to "Create your offer!", new_offer_path, class: "btn navbar-wagon-btn" %>
      </div>
      <% else %>
      <% @profile.offers.each do |offer| %>
      <div class="product margin-top-sm product-border">
        <div class='product-body'>
          <h3><%= offer.title.upcase %></h3>
          <p><%= truncate offer.description %>...</p>
        </div>
        <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
          <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i><%= link_to "", edit_offer_path(offer) %></li>
          <li><i class="fa fa-trash-o" aria-hidden="true"></i><%= link_to "", offer_path(offer), method: :delete %></li>
        </ul>
        <%= link_to '', offer_path(offer), class: "card-link" %>
      </div>
      <% end %>
      <% end %>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-5 col-md-offset-1 background-white-full">
     <div class="row margin-top-md">
      <div class="col-md-10 col-md-offset-1 text-center">
      <% unless @todays_bookings.nil? %>
        <h3>Today's classes</h3>
        <% bookingcard.call @todays_bookings, "booking-today" %>
      <% end %>
      <% unless @upcoming_bookings.nil? %>
        <h3>Upcoming classes</h3>
        <% bookingcard.call @upcoming_bookings, "booking-upcoming" %>
      <% end %>
      <% unless @past_bookings.nil? %>
        <h3>Past classes</h3>
        <% bookingcard.call @past_bookings, "booking-past" %>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
