<div class="container">
  <div class="row">
    <div class="col-md-8 background-white-full ">
      <div class="padded-sides page-header">
        <h1>#<%= @offer.category.downcase %>: <%= @offer.title %></h1>
      </div>
      <div class="row margin-top-md padded-sides">
        <div class="col-md-4">
          <%= image_tag @offer.user.photo.url(:standard_face), class: "img-responsive bordered" %>
        </div>
        <div class="col-md-8">
          <dl class="dl-horizontal">
            <dt>Creator</dt>
            <dd><%= @offer.user.name.capitalize %></dd>
            <hr>
            <dt>Level</dt>
            <dd><%= @offer.seniority.capitalize %></dd>
            <hr>
            <dt>Description</dt>
            <dd><%= @offer.description %></dd>
            <dt>Avg Rating</dt>
            <dd><% @offer.average.times do %>
             <i class="fa fa-star" aria-hidden="true" style="color: yellow;" ></i>
             <% end %>

             <hr>
             <% if current_user == @offer.user %>
             <%= link_to "Edit offer", edit_offer_path(@offer), class: "btn btn-primary" %>
             <%= link_to "Delete offer", offer_path(@offer), method: :delete, data: { confirm: "Are you sure?" } %>
             <% else %>
             <%= link_to "Write a Review", new_offer_review_path(@offer), class: "btn btn-primary" %>
             <% end %>
           </dl>
         </div>
       </div>
       <div class="row margin-top-md">
        <div class="col-md-12" id="map">
        </div>
        <%= render 'shared/reviews' %>
      </div>
    </div>
    <%= render 'shared/create_booking' %>
  </div>

  <% content_for(:after_js) do %>
  <%= javascript_tag do %>
  $(document).ready(function() {
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: { id: 'map' } }, function() {
  markers = handler.addMarkers(<%= raw @location_hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  if (markers.length == 0) {
  handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>
