<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1> This is the offer details: </h1>
        <p> Title: <%= @offer.title %> </p>
        <p> Description: <%= @offer.description %> </p>
        <p> Category: <%= @offer.category %> </p>
        <p> Creator: <%= @offer.user.email %> </p>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <%= render 'offers/booking_form' %>
    </div>
  </div>

</div>
